网页排版：html

除特别说明动画出现方式，任何文字段落和图片都随鼠标滑动渐显。

方一：标题放在左边，右边是一个门门上插着钥匙。旁边有指引说鼠标点击进入。鼠标点击后，钥匙转动门。从右往左打开开始播放动画。像镜头推进一样，从全局推进到门再在一片光中看到了门内的景象，也就是新闻头图。比如在一片荒漠中，上半部分是群鸟飞翔。中间有。两个蓝色座椅上面坐着中国老人，一男一女。冷暖对比强烈，新闻真实感强。充满孤独感。

方二：映入眼帘的是一张铺满的新闻摄影图片。在页面右侧设置一个拖拽小三角标识。鼠标拖拽时页面呈现一个3d立体向左圆滑旋转的交互形式转到第二个页面。页面旋转开始时，一把尖头钥匙跟随鼠标从右侧屏幕出现，此时鼠标不用指引，页面开始自动播放动画：居中占四分之一屏幕的钥匙横向从右边如利剑般划到左边。钥匙后面跟着的是新闻的标题，“长”路未尽，“护”佑一致（放在正中央）。以及小一点字体小标题的放在它下面4500万失能老人被托举的晚年

头图：真实影像素材，足够惊艳

在失能困境日益凸显的当下，一项关乎千万家庭的新制度正在加速落地。

这段话是正文之前的引入，用一个黄色框框

进入正文之后的内容，一个树冠在画面的右侧，树冠在位于页面的上方四分之一处，起到一个遮风避雨的作用。随着鼠标的下滑，上方的树冠会不断隐去，只留下树的主干，树的主干会一直保留，直到内容结尾部分才会呈现出树根，树根是向下蔓延的、深深扎入泥土深处的，显现出强大的生命力。插画风格

我们文章一共分为六个部分，有六个小标题，分别如下：

一、长路未尽：被困晚年的真实剪影

二、潮涌而至：社保第六险的制度补位

三、微光摆渡：护工机构的协同接力

四、暖流回响：减负纾困的民生闭环

五、行路求索：落地“最后一公里”的磨合

六、长风致远：全覆盖下的尊严守望

每到一个部分的时候，开头会有一个专门为这个标题设计的一个插画/相关摄影图片或视频，把文字都放在左边中间，上面是小标题前部的文字，比如“长路未尽”，紧接着的字体稍微小一点，写着“被困晚年的真实剪影”。小标题都是这样分布。

然后鼠标下滑的时候，呈现出正文的内容，那个插画就不断地向上渐隐消失。

在文章结束的时候就会出现一个树根，树根的下方颜色过渡成泥土的颜色，随后下方慢慢渐显出了数据来源。数据来源的字体用白色呈现。

鼠标变成伞的形状透明简笔画

正文统一字号18

新闻文章要全部包含在内，图文数据和图文插图与文章相交图文结合。这个排版错落有致，并且有呼吸感。你帮我们来设计一下。

钥匙图片：


点一下出现新的页面

鼠标往下滑时是逐渐出现，而不是一整个出现。

鼠标有鼠标的图标，是一个伞的形状。

交互：

华夫饼图鼠标悬停在一个小人上面有框框弹出来介绍人的信息。

对号入座交互设计，读者可点击对应自身职业类别，一键测算个体所需承担的长期护理经济成本，如下：

1. 在职职工：总费率0.3%，单位、个人各0.15%，按月工资基数缴费

2. 退休人员：0.15%，按养老金缴费，个人全额承担

3. 灵活就业：二选一，职工标准全额0.3% / 居民按年缴费

4. 城乡居民（成年无业）：0.15%起步，5年过渡至0.3%，个人+财政1:1分担，按当地人均可支配收入按年缴

5. 学生（18周岁以下）：不单独筹资，随父母参保，重度失能可正常享受待遇；

小宇妈妈一日轨迹和外婆起居时间表:

这个地方会出现两个插画人物，一个是主要照顾人：妈妈；一个是失能老人：外婆

当点击妈妈图像时，会在下方弹出一个时间线/时间轴，起点是一个小圆点，鼠标放拖动到这条线的不同地方时,这条轴的上方会出现对应的妈妈正在做事情的插画，这便是小宇妈妈的一日轨迹；

当点击外婆的插画时，同样会出现一个时间轴，起点是一个小圆点，鼠标拖动时，会出现这个时间段内谁在为外婆做什么或外婆在干什么。

这两个交互旁边有一个提示“点击观看人物”

未做说明的图都是普通交互：即清晰地显现一下具体数值。

定点机构流程图要一个一个渐显出来，不要直接出

循环流程图——三个节点形成闭环：①健康人群缴纳医保→②基金支出惠及失能人员→③带动更多人参与服务与参保。首先会出现①的图标，当鼠标点击时会出现②的图标，当点击②时，会出现③的图标，三个图标形成一个闭环的圆。图的旁边有一个提示“点击图标观看循环图”

在做“知晓政策→首次咨询→多次沟通→提交材料→逐级审核→最终通过”时间轴时，下方逐渐显现出一个人从家到机构，再从机构到家两头跑的插画，有一点漫画样式的排版设计

小洁外婆照护难点图：“洗澡难、移位难、情绪差”三个痛点图，也需要呈现出那种漫画样式的排版。

在最后会有一个多国长护险对比图，一共有德国、日本、中国、美国、荷兰五个国家，上方是一个跑道插画设计，跑道近大远小的视角呈现，从上方的一个小点逐渐延伸出五条跑道（校园橡胶跑道），每一个跑道在收尾的地方长度相等，放置五个国家的国旗，点击国旗下方会呈现出一个可视化长方形方框，里面是该国政策解读，包括制度模式、收益范围、筹资方式这三类。

每一个采访人/重要人物的讲话，都可以单独成列，为其设计一个插画形象，插画人物出现时的设置：向右显出，随后文字和文字方框紧接着呈现。

长护险申请时间交互，只展现三个城市的风景图片，把他们叠起来，像刷短视频一样把上方图片划走，被划走的图片会叠到最底部。

与此同时，当显示一个城市照片时，会出现这样的画面和交互：图片中间是分界线，左边是黑白的图片，右边是彩色图片，左边代表的是过去，右边代表的是目前。然后这个地方是一个交互，它可以点击滑动，当这一个线滑动到最右边的时候，呈现的是一个完全黑白的照片，然后在这一条线的右边会出现一个气泡，呈现出它过去申报长护险需要的时间；当把这一条线滑动到最左边的时候，它会呈现一个完全彩色的照片。然后在这条线的左边会出现一个气泡，呈现出他现在申报长护险需要的时间。在这个交互的旁边要写上“向上滑动图片更换城市”和“可左右滑动轴线”的提示。

数据如下：

  ---------- -------------- ----------------
  山东烟台   30个工作日内   短至12个工作日
  山东崂山   30日           10-15个工作日
  重庆       60日           30个工作日
  ---------- -------------- ----------------

网页的背景色：

